@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    font-family: "Kode Mono", monospace;
}

body {
    background-color: #141414;
    color: white;
}

h1 {
    color: #e62429;
    text-align: center;
}

nav {
    background-color: #e62429;
    padding: 10px;
    text-align: center;
}

ul {
    list-style-type: none;

}

li {
    display: inline-block;
}

nav a:hover {
    background-color: #f0c040;
    color: #e62429;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.karakterek {
    text-align: center;
}

.mainkep {
    width: 60%;
    height: auto;
    border: 2px solid #e62429;
}

.mainkep:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.kep {
    width: 300px;
}

.kepek {
    text-align: center;
    margin: 40px 20px 40px 20px;

}

