@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
*{
    font-family: "Kode Mono", monospace;
}
body{

    background-color: #141414;
    color: white;
}
h1{
    color: #e62429;
    text-align: center;
}

nav{
    background-color: #e62429;
    padding: 10px;
    text-align: center;
}
ul.navlist{
    list-style-type: none;
}

li.navlist{
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px 0 10px;
}

nav a:hover{
    background-color: #f0c040;
    color: #e62429;
    padding: 10px;
}

.mainkep{
    width: 600px;
    border: 1px solid #e62429;
    box-shadow: 0 4px 8px 2px rgba(220, 220, 220, 0.5);
}


figure{
    text-align: center;
}
figure:hover{
    opacity: 0.8;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

td.filmtable,
th.filmtable{
    border: 1px solid #e62429 ;
    padding: 5px;
}

.table{
    display: flex;
    justify-content: center;
}

td.filmtable:nth-child(2),
td.filmtable:nth-child(3){
    text-align: center;
}